@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding :0;
    box-sizing: border-box;
    scroll-padding-top : 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
    --main-color:rgb(245, 165, 18);
    --second-color:rgb(143, 99, 4);
    --third-color :rgb(197, 96, 197);
    --fourth-color:rgb(86, 86, 250);
    --fiveth-color:rgb(12, 0, 0);
    --last-color:green;
}
section{
    padding :50px 10px;
}
img{
    width :100%;
}
header{
    position:fixed;
    width :100%;
    top :0;
    right :0;
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding :15px 10px;
    transition: 0.2s;
}

  

.logo{
    display: flex;
    align-items: center;
    

}
.logo img{
    width:90px;
    animation: rotate-center 3.9s ease 0s 1 normal none; 
}
@keyframes rotate-center{
    0% { transform: rotate(0); } 
    100% { transform: rotate(360deg);}
}
 header .navbar{
    display: flex;
     
}
header p{
    color :var(--main-color);
    font-size: 1.5rem;
    font-weight: 600;
}
header p:hover{
    color :var(--second-color);
}
header p span{
    color :var(--second-color);
}
header p span:hover{
    color :var(--main-color);
}

.navbar a{
    font-size: 1rem;
    padding :11px 20px;
    color :var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}
.navbar a:hover{
    color :var(--main-color);
    
}
#menu-icon{ 
    font-size: 24px;
    cursor :pointer;
    z-index:1001;
    display :none;
}
*::selection{
    color :#fff;
    background: var(--main-color);
}
.home{
    width :100%;
    min-height: 100vh;
    display :flex;
    flex-wrap: wrap;
    align-items: center;
    background: #f9fab7;
    gap :1rem;
}
.home-text{
    margin-left:10rem;
} 
.home-img {
    margin-left: 29rem;
   
}
.home-img img{
    animation: animate 2s linear infinite;
}
@keyframes animate{
    0%{
        transform: translate(-15px, 0);
    }
    50%{
        transform: translate(-0px, -15px);
    }
    100%{
        transform: translate(-15px, 0);
    } 
}
.home-text span{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color :var(--main-color);
}
.home-text h1 {
    font-size: 2.9rem;
    color:var(--main-color);
    font-weight: bold;
}
.home-text a{
    background-color: var(--main-color);
    color :white;
    padding-top: 15px;
    padding :10px;
    display: block;
    width :140px;
    margin-top: 1rem;
    border-radius: 10px;
    border: 2px solid var(--second-color);
}
.home-text a:hover{
    color :white;
    background-color: var(--second-color);
}
.heading{
    text-align: center;

}
.heading span{
    color :var(--main-color);
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase;

}
.shop-container,
.contact-container{
    display: flex;
    flex-wrap: wrap;
    gap :1rem;
    margin-top: 5rem;
}
.shop-container .box
{
    flex: 1 1 10rem;
    background: var(--main-color);
    padding :20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
}
.contact-container .contact:nth-child(1){
    flex: 1 1 10rem;
    background: var(--third-color);
    padding :20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;

}
.contact-container .contact:nth-child(2){
    flex: 1 1 10rem;
    background: var(--fourth-color);
    padding :20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;

}
.contact-container .contact:nth-child(3){
    flex: 1 1 10rem;
    background: var(--fiveth-color);
    padding :20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
    color :white;

}
.contact-container .contact:nth-child(4){
    flex: 1 1 10rem;
    background: var(--last-color);
    padding :20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;

}
.shop-container .box .box-img
{
    width :150px;
    height: 150px;
    margin-top: -100px;
}
.contact-container .contact .contact-img{
    width :100px;
    height: 100px;
    margin-top: -100px;
}
.shop-container .box .box-img img{
    object-fit: contain;
    object-position: center;
    width :100%;
    height: 100%;
}
.rating{
    margin: 1rem 0 0.1rem;

}
.box .btn{
    color:black;
    border: 2px solid var(--second-color);
    border-radius: 8px;
    background: var(--main-color);
    padding: 10px;
}
.box .btn:hover{
    background-color: var(--second-color);
    color :white;
    border: 2px solid white;
}
.container{
    display :flex;
    flex-wrap: wrap;
    gap :1.5rem;
    margin-top: 2rem;
}
 .container .delivery-img,
 .container .app-img,
 .container .about-img{
    flex: 1 1 11rem;
    
    
}


.delivery,
.contact{
    background-color: #f9fab7;
}
.delivery-text,
.app-text{
    flex: 1 1 28rem;

}
.delivery-text h2,
.app-text h2{
    font-size: 1.2rem;
    color:var(--second-color);
}
.delivery-text p,
.app-text p{
    margin:0.5rem 0 1rem;
    text-align: justify;

}
.delivery-text .btn,
.app-text .btn{
    color :black;
    background-color: var(--main-color);
    padding: 10px;
    border: 1px solid var(--second-color);
    border-radius: 15px;
}
.delivery-text .btn:hover,
.app-text .btn:hover
{
    color :#fff;
    background: var(--second-color);
    border: 1px solid ;

}
.contact .btn{
    padding :8px;
    background-color:white;
    border-radius: 10px;
    color :black;

}
.contact .btn:hover{
    color :blue;
    background: var(--main-color);
}
.footer{
    background-color:#f9fab7;
}
.footer .social{
    background-color:#f9fab7;
    display: flex;
    justify-content: center;
    
}
.footer .social a{
    margin :1rem;
    font-size: 2em;
    color :black;
}
.footer .social a:nth-child(1):hover{
    color:var(--fourth-color);
    transform: scale(1.3) translateY(-5px);
    background-color: crimson;
    box-shadow: 0 0 25px crimson;
}
.footer .social a:nth-child(2):hover{
    color:var(--third-color);
    transform: scale(1.3) translateY(-5px);
    background-color: crimson;
    box-shadow: 0 0 25px crimson;
}
.footer .social a:nth-child(3):hover{
    color:var(--fiveth-color);
    transform: scale(1.3) translateY(-5px);
    background-color: var(--fiveth-color);
    box-shadow: 0 0 25px var(--fiveth-color);
}
.footer .social a:nth-child(4):hover{
    color:var(--last-color);
    transform: scale(1.3) translateY(-5px);
   
    box-shadow: 0 0 25px var(--last-color);
   
}
.footer .social-des{
    background-color:#f9fab7;
    display: flex;
    justify-content: center;    
}
.footer .social-des a{
    margin:0.6em;
    color :black;
    margin-top: -1rem;
}
@media (max-width : 1150px){
    header{
        padding :18px 7%;
    }
    section{
        padding :50px 7%;
    }
    .home-text h1{
        font-size: 3rem;
    }
    .home-text h2{
        font-size:1.5rem
    }
}
@media (max-width : 991px){
    header{
        padding :18px 4%;
    }
    section{
        padding :50px 4%;
    }
   
}
@media (max-width : 768px){
    header{
        padding :11px 4%;
    }
    #menu-icon{
        display:initial;

    }
    header .navbar{
        position: absolute;
        top:-500px;
        left :0;
        right :0;
        display :felx;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb9(14 55 54 / 14%);
        border-top: 2px solid var(--main-color);
        transition: 0.2s;
        text-align: left;

    }
    .navbar.active{
        top:100%;
    }
    .navbar a{
        padding :1.5rem;
        display :block;
        color :var(--second-color);

    }
    .home-text span{
        font-size: 0.9rem;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
    .home-text h2{
        font-size: 1.2rem;
    }
}
@media (max-width : 768px){
    .home-text{
        padding-top:inherit;
    }
    .shop-container .box{
        margin-top: 6rem;
    }
    .heading h1{
        font-size: 1.5rem;
    }
    .heading span{
        font-size: 0.9rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    
}
